.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo{
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    margin: 1rem 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--branco);
    background: url("../imgs/Lupa.svg") no-repeat;
    background-position: 0.8rem;
}