.topicos{
    background: var(--azul-degrade);
    text-align: center;
    font-family: var(--fonte-principal);
    padding: 1rem 0;
}

.topico__titulo{
    text-transform: uppercase;
    color: var(--branco);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 2rem 0.5rem;
}

.topico__link{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1rem;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width:1024px) {
    .topico__titulo{
        font-size: 24px;
    }
    .topico__link{
        font-size: 24px;
    }
}